---
layout: page
title: All Stickers
---

<div class="stickers">
  {% for post in paginator.posts %}
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h2>{{ post.title }}</h2>
      <div class="stickers-preview">
        <img src="{{ site.baseurl }}/public/stickers/{{ post.slug }}/1.png" />
        <img src="{{ site.baseurl }}/public/stickers/{{ post.slug }}/2.png" />
        <img src="{{ site.baseurl }}/public/stickers/{{ post.slug }}/3.png" />
        <img src="{{ site.baseurl }}/public/stickers/{{ post.slug }}/4.png" />
        <img src="{{ site.baseurl }}/public/stickers/{{ post.slug }}/5.png" />
        <img src="{{ site.baseurl }}/public/stickers/{{ post.slug }}/6.png" />
      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
