---
layout: home
title: Home
---

<p class="message">
  We've updated our submission method a bit -
  <a href="https://github.com/telegram-stickers/telegram-stickers.github.io/commit/dc6abb58f7c9f5c9eeaec740926d94f0cca5f815" target="_blank">click here</a>.
</p>

<h1 class="recent-title">New Stickers</h1>
<div class="stickers">
  {% for post in site.posts | limit: 5 %}
    {% include html/sticker-post.html %}
  {% endfor %}
</div>

<div class="pagination">
  <a class="pagination-item more" href="{{ site.baseurl }}/stickers">View more stickers...</a>
</div>
