<head>
  <meta charset="utf-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <meta name="keywords" content="telegram, messenger, telegram messenger, stickers, telegram stickers, telegram messenger stickers, stickers for telegram, stickers for telegram messenger" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="google-site-verification" content="zXPHGyXggG0IRVPXhgo7AuPiyA4ItE4LyGtOMj7YeBk" />

  <!-- Canonical link element -->
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}/">

  <!-- humans.txt -->
  <link type="text/plain" rel="author" href="{{ site.url }}{{ site.baseurl }}/humans.txt" />

  <!-- Android Lollipop theme color -->
  <meta name="theme-color" content="#179cde" /> 

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700" />
  <link rel="stylesheet" type="text/css" media="screen" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico" />

  <!-- Google Analytics tracking code -->
  {% include google-analytics.html %}
</head>
