// Default typography base
$font-stack: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height-base: (20/14);

// Defauly layout variables
$container-width: 52rem;
$grid-gutter: 1rem;

// Primary colors
$brand-green: #4bbc87;
$brand-blue: #00bcd4;
