// Base
//
// Glabal overrides for base Poole components.

// Body font
body {
  font-family: $font-stack;
  line-height: $line-height-base;
}

// Link colours
a {
  color: $brand-blue;

  &:hover,
  &:focus {
    color: darken($brand-blue, 10%);
    text-decoration: none;
  }
}
