// Buttons
//
// Adapted from https://github.com/South-Paw/CSS-SxcBtns

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: #c4c4c4;
  border: 1px solid #afafaf;
  border-radius: 5px;
  transition: all .15s;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #b3b3b3;
    border-color: #919191;
  }
}

.btn-xs {
  padding: 2px 4px;
  font-size: 10px;
  line-height: 14px;
  border-radius: 3px;
}

.btn-sm {
  padding: 4px 8px;
  font-size: 14px;
  line-height: 18px;
}

.btn-lg {
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
}

.btn-green {
  color: #fff;
  background-color: $brand-green;
  border-color: darken($brand-green, 5%);

  &:hover {
    color: #fff;
    background-color: darken($brand-green, 10%);
    border-color: darken($brand-green, 15%);
  }
}

.btn-blue {
  color: #fff;
  background-color: $brand-blue;
  border-color: darken($brand-blue, 5%);

  &:hover {
    color: #fff;
    background-color: darken($brand-blue, 10%);
    border-color: darken($brand-blue, 15%);
  }
}

.btn-link {
  color: #09c;
  background-color: transparent;
  border-color: transparent;

  &:hover {
    color: inherit;
    background-color: transparent;
    border-color: transparent;
  }
}

.btn-transparent {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-color: #fff;

  &:hover {
    color: #fff;
    text-shadow: none;
    background-color: rgba(0, 0, 0, .5);
    border-color: #fff;
  }
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;

  + .btn-block {
    margin-top: 5px;
  }
}
