// Jumbotron
//
// Main jumbotron heading for searchbox.

.jumbotron {
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: -2rem;
  margin-bottom: 1.5rem;
  color: #fff;
  text-align: center;
  background-color: $brand-blue;

  .jumbotron-title {
    font-size: 2.5rem;
    color: inherit;
  }

  .search-container {
    max-width: 40rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  #search-input {
    display: inline-block;
    width: 100%;
    padding: .5rem;
    font-size: .8rem;
    color: #515151;
  }

  #search-results-container {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
    list-style-type: none;

    li {
      border: 1px solid #d3d3d3;
      border-bottom: 0;

      &:last-child {
        border-bottom: 1px solid #d3d3d3;
      }

      a {
        position: relative;
        display: block;
        padding: .5rem 1rem;
        color: #fff;

        &:hover {
          text-decoration: none;
          background-color: rgba(255, 255, 255, .1);
          color: inherit;
        }
      }
    }

    .no-result {
      padding: .5rem 1rem;
    }
  }
}
