// Jumbotron
//
// Main jumbotron heading for searchbox.

.jumbotron {
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: -2rem;
  margin-bottom: 1.5rem;
  color: #fff;
  background-color: $brand-blue;

  .jumbotron-title {
    color: inherit;
    font-size: 3rem;
    font-weight: 300;
    text-align: left;
    margin-bottom: 2.6rem;
  }

  .search-container {
    max-width: 40rem;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  #search-input {
    display: inline-block;
    color: #515151;
    background-color: #fff;
    font-size: 1rem;
    height: 3rem;
    width: 100%;
    padding: .5rem;
    padding-left: 1rem;
    box-shadow: 0 3px 0 0 rgba(0,0,0,.15);
    border-style: none;
    border-radius: 3px;
  }

  #search-results-container {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
    list-style-type: none;

    li {
      border: 1px solid #d3d3d3;
      border-bottom: 0;

      &:last-child {
        border-bottom: 1px solid #d3d3d3;
      }

      a {
        position: relative;
        display: block;
        padding: .5rem 1rem;
        color: #fff;

        &:hover {
          text-decoration: none;
          background-color: rgba(255, 255, 255, .1);
          color: inherit;
        }
      }
    }

    .no-result {
      padding: .5rem 1rem;
    }
  }
}
