// Container
.container {
  @include clearfix;
  width: auto;
  max-width: $container-width;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  margin-left: auto;
  margin-right: auto;
}

// Grid system
//
// Adapted from https://github.com/primer/primer/blob/master/scss/_layout.scss

.columns {
  @include clearfix;
  margin-left: (-$grid-gutter);
  margin-right: (-$grid-gutter);

  @media (max-width: 38rem) {
    > .column {
      float: none;
      width: 100%;
    }
  }
}

// Base class for every column (requires a column width from below)
.column {
  float: left;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

// Column widths
.one-third {
  width: 33.333333%;
}

.two-thirds {
  width: 66.666667%;
}

.one-fourth {
  width: 25%;
}

.one-half {
  width: 50%;
}

.three-fourths {
  width: 75%;
}

.one-fifth {
  width: 20%;
}

.four-fifths {
  width: 80%;
}

// Single column hack
.single-column {
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

// Equal width columns via table sorcery.
.table-column {
  display: table-cell;
  width: 1%;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  vertical-align: top;
}

// Floats
//
// Floats an element to the left or right.

.left {
  float: left;
}

.right {
  float: right;
}

// Text alignments
//
// Change the `text-align` on elements with a class.

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// Footer
//
// Customised footer.

footer {
  margin-top: 2rem;
  margin-bottom: 2rem;

  small {
    display: block;
  }
}
