// Masthead
//
// Responsive global header

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: $brand-blue;
  //border-bottom: 1px solid #ccc;

  a {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  .masthead-title {
    display: inline-block;
    font-size: 1.5rem;
  }

  @media (min-width: 38rem) {
    text-align: left;

    .masthead-title {
      float: left;
    }
  }
}

.masthead-nav {
  display: block;
  margin-top: .5rem;
  font-size: 1rem;

  a {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  @media (max-width: 38rem) {
    padding-top: 1rem;
    border-top: .075rem solid rgba(255, 255, 255, .25);
  }

  @media (min-width: 38rem) {
    float: right;
    margin-top: .5rem;
  }
}
