// Masthead
//
// Responsive global header

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: $brand-blue;
  //border-bottom: 1px solid #ccc;

  a {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  .masthead-title {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
  }

  @media (min-width: 38rem) {
    text-align: left;

    .masthead-title {
      float: left;
    }
  }
}

.masthead-nav {
  display: block;
  margin-top: .5rem;
  font-size: 1rem;

  a {
    display: inline-block;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: .4rem;
    padding-right: .4rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: all ease-in-out .2s;

    &:hover {
      background-color: rgba(0, 0, 0, .25);
      border-radius: 3px;
    }

    &:not(:last-child) {
      margin-right: .3rem;
    }
  }

  @media (max-width: 38rem) {
    padding-top: 1rem;
    border-top: .075rem solid rgba(255, 255, 255, .25);
  }

  @media (min-width: 38rem) {
    float: right;
    margin-top: .2rem;
  }
}
