// Masthead
//
// Responsive global header

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;

  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .masthead-title {
    display: inline-block;
    font-size: 1.5rem;
  }

  @media (min-width: 34rem) {
    text-align: left;

    .masthead-logo {
      float: left;
    }
  }
}

.masthead-nav {
  display: block;
  margin-top: .5rem;
  font-size: 1rem;

  a {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  .active {
    font-weight: 500;
    color: #fff;
  }

  @media (max-width: 40rem) {
    float: left;
  }

  @media (min-width: 40rem) {
    float: right;
    margin-top: .5rem;
  }
}
