// Masthead
//
// Responsive global header

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  background-color: #179CDE;
  //border-bottom: 1px solid #ccc;

  a {
    color: #FFF;

    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }

  .masthead-title {
    display: inline-block;
    font-size: 1.5rem;
  }

  @media (min-width: 43rem) {
    text-align: left;

    .masthead-logo {
      float: left;
    }
  }
}

.masthead-nav {
  display: block;
  margin-top: .5rem;
  font-size: 1rem;

  a {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  @media (max-width: 43rem) {
    float: left;
  }

  @media (min-width: 43rem) {
    float: right;
    margin-top: .25rem;
  }
}
