// Stickers
//
// Showcase stickers in a tiled preview layout.

.stickers-details {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.stickers {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);

  a {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .stickers-preview {
    margin-top: 1rem;
    margin-bottom: 1rem;

    img {
      display: inline;
      max-width: 100%;
      max-height: 128px;
      transition: all ease-in .1s;

      &:hover {
        opacity: .75;
      }
    }
  }
}

.recent-title,
.page-title {
  margin-bottom: 1.2rem;
}
