// Stickers
//
// Showcase stickers in a tiled preview layout.

.stickers {
  margin-left: auto;
  margin-right: auto;

  a {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .stickers-preview {
    margin-top: 1rem;
    margin-bottom: 1rem;

    img {
      display: inline;
      max-width: 100%;
      max-height: 128px;
    }
  }
}
