.stickers {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;

  h2 {
    color: inherit;
  }

  .sticker-preview {
    width: auto;
    height: 128px;
    padding-left: auto;
    padding-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    img {
      display: inline;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
