<footer class="footer">
  <div class="container">
    <small>
      Maintained with love by <a href="https://twitter.com/resir014" target="_blank">@resir014</a> and <a href="https://twitter.com/dankmau5" target="_blank">@dankmau5</a>. All stickers featured here are the rights of their respective artists.
    </small>
    <small>
      The <a href="https://github.com/resir014/telegram-stickers" target="_blank">source code</a> of this site is available under the <a href="https://github.com/resir014/telegram-stickers/blob/gh-pages/LICENSE" target="_blank">MIT License</a>.
    </small>
    <small>
      &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
    </small>
  </div>
</footer>
