<footer class="footer">
  <div class="container">
    <small>
      Maintained with love by <a href="https://twitter.com/resir014" target="_blank">@resir014</a>. All stickers featured here are the rights of their respective artists.
    </small>
    <small>
      This site is not affiliated with <a href="https://telegram.org/" target="_blank">Telegram Messenger</a>.
    </small>
    <small>
      The <a href="https://github.com/telegram-stickers/telegram-stickers.github.io" target="_blank">source code</a> of this site is available under the <a href="https://github.com/telegram-stickers/telegram-stickers.github.io/blob/master/LICENSE" target="_blank">MIT License</a>.
    </small>
  </div>
</footer>
