---
layout: default
---

{% include html/masthead.html %}

<div class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-title">High-quality sticker packs for Telegram Messenger, updated daily.</h1>
    <div class="search-container">
      <input type="text" id="search-input" placeholder="Search for stickers...">
      <ul id="search-results-container"></ul>
    </div>
  </div>
</div>

<div class="container content">

  <main>
    {{ content }}
  </main>

</div>

{% include html/footer.html %}
