---
layout: page
---

<div class="columns sticker-info">
  <div class="column two-thirds">
    <ul>
      <li>
        <strong>Author:</strong>
        {% if page.author.url %}
          <a href="{{ page.author.url }}">{{ page.author.name }}</a>
        {% else %}
          {{ page.author.name }}
        {% endif %}
      </li>
      <li>
        <strong>Number of stickers:</strong> {{ page.amount }}
      </li>
    </ul>
  </div>
  <div class="column one-third">
    <a href="{{ page.link }}" class="btn btn-blue btn-block">Get Stickers</a>
  </div>
</div>

{{ content }}
