---
layout: page
---

<div class="columns stickers-info">
  <div class="column two-thirds">
    <ul class="fa-ul">
      <li>
        <i class="fa-li fa fa-user"></i>
        {% if page.author.url %}
          <a href="{{ page.author.url }}" target="_blank">{{ page.author.name }}</a>
        {% else %}
          {{ page.author.name }}
        {% endif %}
      </li>
      <li>
        <i class="fa-li fa fa-picture-o"></i> {{ page.amount }}
      </li>
      <li>
        <i class="fa-li fa fa-tags"></i>
        {% for tag in page.tags %}
          {{ tag }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </li>
    </ul>
  </div>
  <div class="column one-third">
    <a href="{{ page.link }}" class="btn btn-blue btn-block">Get Stickers</a>
  </div>
</div>

<div class="stickers-details">
  {{ content }}
</div>
